* {
    box-sizing: border-box;
    font-size: 62.5%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    'sidebar header header header'
    'sidebar main main main'
    'sidebar main main main'
    'sidebar main main main';
    font-size: 10rem;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    height: 100vh;
}

.header-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.header-grid div {
    display: flex;
}

.main-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;;
}

.main-article-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.header{
    grid-area: header;
    background-color: #FFFFFF;}

.main{
    grid-area: main;
    background-color: #E2E8F0
}

.sidebar{
    grid-area: sidebar;
    background-color: #1992D3;
    font-size: 5rem;
    color: #FFFFFF;
}

.special-div{
    display: flex;
    flex-direction: column;
}   

.trending-card,
.announcements-card {
    border: 1px solid black;
    font-size: 3rem;
    background-color: #FFFFFF;
}
.trending-card article {
    display: flex;
}

.card {
    border: 1px solid black;
    background-color: #FFFFFF;
}

.svg-icons {
    height: 20px; /* Set SVG height to 100% of the container's height */
    width: auto; /* Allow SVG to scale proportionatlly with the height */
    margin: 0;
    padding: 0;
    fill: white;
}

.sidebar-item{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 3rem;
}